.techs__info-headline {
    margin: 0;
    margin-bottom: 26px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
}
@media screen and (max-width: 767.9px) {
    .techs__info-headline {
        font-size: 30px;
        line-height: 36px;
    }   
}