.movie__like {
    background: #313131;
    width: 30px;
    height: 30px;
    border-radius: 36px;
    position: relative; 
}
.movie__like::after {
    position: absolute;
    content: url(../../../images/save-icon-inactive.svg);
    top: 8.5px;
    left: 10px;
}