.notfound__err-code {
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    margin: 0 auto;
    padding-top: 35.14vh;
    margin-bottom: 0.714vh;
}