.aboutme__github {
    margin: 0;
    margin-top: auto;
    margin-bottom: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    transition: all .1s ease-in;
    text-decoration: none;
}
.aboutme__github:hover {
    opacity: .7;
}